.git
.gitignore
node_modules
vendor
public/build
public/hot
storage/app/public/*
!storage/app/public/.gitkeep
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.*
!.env.example
!.env.production
tests
.phpunit.cache
*.log
.idea
.vscode
